html,body{
  background-color:#000;
}
.mod_box01{
  text-align:center;
  padding-top:120px;
}
.mod_box01 h1{
  font-weight:normal;
  padding:20px 0;
  color:#000;
}
.mod_box01 video{
  margin:0 auto;
}
